* {
    font-family: 'Segoe UI';
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
body {
    margin: 0px 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 2rem;
}
h2 {
    color: gray;
    text-decoration: underline;
    text-decoration-color: orange;
}
article {
    column-count: 2;
}
@media screen and (max-width: 750px) {
    article {
        column-count: 1;
    }
    h2 {
        text-decoration: none;
    }
}